In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
# Load the dataset
data = pd.read_excel("C:/Users/gsk44/Downloads/Electrical-maintainence.xlsx")

In [4]:
data.head()

   EquipmentID                Time  Voltage  Failure
0            1 2021-01-01 08:00:00    120.5        0
1            1 2021-01-01 09:00:00    121.2        0
2            1 2021-01-01 10:00:00    121.8        0
3            1 2021-01-01 11:00:00    118.3        0
4            1 2021-01-01 12:00:00    119.6        0

In [5]:
data.tail()

    EquipmentID                Time  Voltage  Failure
15            2 2021-01-01 13:00:00    111.2        0
16            2 2021-01-01 14:00:00    109.7        0
17            2 2021-01-01 15:00:00    108.4        1
18            2 2021-01-01 16:00:00    107.8        1
19            2 2021-01-01 17:00:00    105.6        1

In [6]:
data.dtypes

EquipmentID             int64
Time           datetime64[ns]
Voltage               float64
Failure                 int64
dtype: object

In [7]:
# Feature Engineering
# Calculate the mean, standard deviation, and maximum value of voltage for each equipment
equipment_stats = data.groupby("EquipmentID")["Voltage"].agg(['mean', 'std', 'max']).reset_index()
equipment_stats.columns = ["EquipmentID", "Voltage_Mean", "Voltage_Std", "Voltage_Max"]

In [8]:
# Merge the original data with the equipment statistics
data = pd.merge(data, equipment_stats, on="EquipmentID", how="left")

In [9]:
# Select relevant features and target variable
features = ["Voltage", "Voltage_Mean", "Voltage_Std", "Voltage_Max"]
target = "Failure"

In [10]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data[features], data[target], test_size=0.2, random_state=42)

# Train a Random Forest classifier

In [12]:
# Train a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [13]:
# Make predictions on the test set
y_pred = rf_classifier.predict(X_test)

In [14]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.75

In [15]:
# Save the model for future use
import joblib
joblib.dump(rf_classifier, "predictive_maintenance_model.joblib")

['predictive_maintenance_model.joblib']